.logo {
    vertical-align: middle;
    height: 128px;
}
.point { 
vertical-align:middle;
height: 258px;
text-align: center;
    
}
.title {
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #f7b9b9;
}
.pointimg {
    height: 250px;
}
.logoimg {
    height: 100px;
}

.wrapper header {
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: flex-start;

    /* justify-content: center; */
    /* align-items: flex-end; */
    align-items: center;
}

nav {
    background: #f7b9b9;
}

.list {
    display: flex;
}

.list li {
    list-style: none;
    padding: 10px;
    border: 1px solid transparent;
}

.list li:hover {
    border: 1px solid black;
}

.list li a {
    color: black;
}

main {
    display: flex;
}

.left {
    width: 20%;
    background-color: #f7b9b9;
    font-size: 18px;
    text-align: justify;
}
.list1 {
    font-size: 20px;
}
.question {
text-align: center;
margin-top: 30px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.answer {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;
}
.picture {
    
    margin-top: 40px;
    width: 800px;
    height: 500px;  
}

.right {
    width: 79%;
    padding-left: 25px;
    width:1100px;
    background-color: #f8d9d9;
}
.article {
    text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
}

footer {
    background: #AAA;
    text-align: center;
    font-weight: bold;
}

h2 {
    padding: 0;
    margin: 0;
}
